n8n-workflow.json
{
  "name": "PresenceIQ - Digital Presence Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "presence-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nconst name       = body.name || '';\nconst biz        = body.businessName || '';\nconst prof       = body.profession || 'professional';\nconst loc        = body.location || '';\nconst socialName = body.socialName  || name;\nconst locNote    = loc ? `, ${loc}` : '';\n\n// Name variations for people-finder style search\nconst nameParts  = socialName.trim().split(/\\s+/);\nconst firstName  = nameParts[0] || '';\nconst lastName   = nameParts[nameParts.length - 1] || '';\nconst nameRev    = lastName !== firstName ? `${lastName}, ${firstName}` : '';\nconst nameVars   = [...new Set([socialName, name, nameRev, `${firstName} ${lastName}`])].filter(Boolean).map(n => `\"${n}\"`).join(' OR ');\n\n// Confirmed profiles from user input\nconst known = [];\nif (body.linkedinUrl)  known.push(`LinkedIn: ${body.linkedinUrl}`);\nif (body.facebookUrl)  known.push(`Facebook: ${body.facebookUrl}`);\nif (body.twitterUrl)   known.push(`Twitter/X: ${body.twitterUrl}`);\nif (body.youtubeUrl)   known.push(`YouTube: ${body.youtubeUrl}`);\nif (body.instagramUrl) known.push(`Instagram: ${body.instagramUrl}`);\nif (body.website)      known.push(`Website: ${body.website}`);\nif (Array.isArray(body.otherProfiles)) {\n  body.otherProfiles.forEach(p => { if (p && p.platform && p.url) known.push(`${p.platform}: ${p.url}`); });\n}\nconst confirmedBlock = known.length > 0\n  ? `\\nCONFIRMED PROFILES (user-provided, treat as verified — analyze quality & activity):\\n${known.join('\\n')}\\n`\n  : '';\n\n// Profession-specific database hints\nconst profDB = prof.toLowerCase().includes('mortgage') || prof.toLowerCase().includes('lender')\n  ? `- NMLS Consumer Access: Search nmlsconsumeraccess.org for \"${name}\" — every licensed mortgage originator has a public NMLS profile\\n`\n  : prof.toLowerCase().includes('realtor') || prof.toLowerCase().includes('real estate')\n  ? `- State real estate license lookup: Search \"${name}\" real estate license \"${loc}\" DRE OR state licensing board\\n`\n  : '';\n\nconst query = `TASK: Comprehensive digital presence audit using people-finder and professional database methodology.\\n\\nSUBJECT:\\n- Name variations to search: ${nameVars}\\n- Profession: ${prof}${locNote}\\n- Business: \"${biz}\"\\n${body.website ? `- Website: ${body.website}\\n` : ''}${confirmedBlock}\\nMETHODOLOGY — search all of the following independently:\\n\\nA. SOCIAL MEDIA (search by person name AND business name separately):\\n1. LinkedIn: (${nameVars}) site:linkedin.com AND (${nameVars}) \"${prof}\" linkedin AND \"${biz}\" site:linkedin.com\\n2. Facebook: (${nameVars}) site:facebook.com AND \"${biz}\" facebook page\\n3. Twitter/X: (${nameVars}) site:twitter.com OR site:x.com AND \"${biz}\" twitter\\n4. YouTube: (${nameVars}) site:youtube.com AND \"${biz}\" youtube channel\\n5. Instagram: (${nameVars}) site:instagram.com AND \"${biz}\" instagram\\n6. TikTok: (${nameVars}) site:tiktok.com AND \"${biz}\" tiktok\\n7. Pinterest: (${nameVars}) site:pinterest.com\\n8. Substack: (${nameVars}) site:substack.com\\n9. Medium: (${nameVars}) site:medium.com\\n\\nB. BUSINESS & REVIEW DIRECTORIES (search by business name AND person name):\\n10. Google Business Profile: \"${biz}\" \"${loc}\" google maps business\\n11. Yelp: \"${biz}\" site:yelp.com \"${loc}\"\\n12. BBB (Better Business Bureau): \"${biz}\" site:bbb.org AND (${nameVars}) bbb.org\\n13. Crunchbase: \"${biz}\" site:crunchbase.com\\n14. Trustpilot: \"${biz}\" site:trustpilot.com\\n15. Bing Places: \"${biz}\" \"${loc}\" bing places business\\n16. Apple Business Connect: \"${biz}\" \"${loc}\" apple maps\\n17. Zillow / Realtor.com: (${nameVars}) mortgage OR realtor zillow.com OR realtor.com\\n\\nC. PROFESSIONAL & PUBLIC DATABASES:\\n${profDB}- State business registry: \"${biz}\" secretary of state business filing OR \"${biz}\" LLC registration \"${loc}\"\\n- Professional license search: (${nameVars}) professional license \"${prof}\" \"${loc}\"\\n- Public records / people finders: (${nameVars}) \"${loc}\" site:whitepages.com OR site:spokeo.com OR site:zabasearch.com OR site:intelius.com\\n- Voter registration / public records: (${nameVars}) \"${loc}\" public record\\n- Court records: (${nameVars}) court case OR judgment OR lawsuit \"${loc}\" PACER\\n- Property records: (${nameVars}) \"${loc}\" property owner OR tax record\\n\\nD. PERSONAL WEBSITE & BLOG:\\n- \"${biz}\" official website\\n- (${nameVars}) \"${prof}\" website OR blog OR about page\\n\\nE. NEGATIVE CONTENT (search separately for name and business):\\n- (${nameVars}) complaint OR scam OR fraud OR lawsuit OR \"bad review\" OR derogatory OR ripoff\\n- \"${biz}\" complaint OR scam OR fraud OR lawsuit OR BBB complaint OR negative review\\n- Reddit: site:reddit.com (${nameVars}) OR site:reddit.com \"${biz}\"\\n- Google reviews and Yelp reviews for \"${biz}\"\\n- News articles: (${nameVars}) OR \"${biz}\" news article OR press release (positive or negative)\\n\\nF. IMPERSONATORS & SIMILAR NAMES:\\n- Find anyone else using (${nameVars}) on social media who is NOT this person\\n- Find any domain names similar to \"${biz}\" that might be copycats\\n- Find accounts using \"${biz}\" that are not official\\n\\nFor EVERY platform and database above:\\n- Provide the exact URL if found\\n- Quote any reviews, ratings, or negative content verbatim\\n- Note any discrepancies or red flags\\n- If genuinely not found after active search, say so explicitly\\n- If uncertain whether a result belongs to this specific person, include it with a note`;\n\nreturn [{ json: { input: body, query } }];"
      },
      "id": "build-query",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_PERPLEXITY_API_KEY" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'sonar-pro', messages: [{ role: 'user', content: $json.query }], max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "perplexity-search",
      "name": "Perplexity Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const input     = $('Build Query').first().json.input;\nconst rawSearch = $input.first().json;\nconst research  = rawSearch?.choices?.[0]?.message?.content || '';\n\nif (!research) {\n  return [{ json: { error: 'Perplexity returned no data', raw: JSON.stringify(rawSearch).slice(0, 300) } }];\n}\n\nconst socialNote = input.socialName && input.socialName !== input.name ? ` (also known as ${input.socialName} on social media)` : '';\nconst confirmedUrls = [input.linkedinUrl, input.facebookUrl, input.twitterUrl, input.youtubeUrl, input.instagramUrl, input.website].filter(Boolean);\nconst confirmedNote = confirmedUrls.length > 0 ? `\\nNOTE: The following profile URLs were CONFIRMED by the person and must be marked as found=true: ${confirmedUrls.join(', ')}` : '';\nconst prompt = `You are a digital presence analyst. Based on this web research, produce a scored audit report for ${input.name}${socialNote} (${input.businessName}, ${input.profession}).${confirmedNote}\n\nWEB RESEARCH FINDINGS:\n${research}\n\nReturn ONLY valid JSON (no markdown, no code fences, no explanation) matching this exact schema:\n{\n  \"overallScore\": <integer 0-100>,\n  \"verdict\": \"Digital Danger Zone\" | \"Needs Work\" | \"Building Momentum\" | \"Authority Status\",\n  \"summary\": \"<2-3 sentence plain-English summary of their digital presence>\",\n  \"platforms\": [\n    { \"platform\": \"<name>\", \"icon\": \"<1 emoji>\", \"found\": <boolean>, \"url\": <string or null>, \"score\": <0-100>, \"verified\": <boolean>, \"notes\": \"<short note about their presence here>\" }\n  ],\n  \"negativeContent\": [\n    { \"source\": \"<platform/site name>\", \"url\": <string or null>, \"snippet\": \"<what was said>\", \"severity\": \"low\" | \"medium\" | \"high\", \"type\": \"review\" | \"complaint\" | \"news\" | \"forum\" | \"derogatory\" | \"other\" }\n  ],\n  \"copycats\": [\n    { \"platform\": \"<name>\", \"url\": <string or null>, \"description\": \"<what was found>\", \"riskLevel\": \"low\" | \"medium\" | \"high\" }\n  ],\n  \"similarProfiles\": [\n    { \"name\": \"<full name or business>\", \"platform\": \"<where found>\", \"url\": <string or null>, \"similarity\": \"<why it shares the name>\" }\n  ],\n  \"recommendations\": [\n    { \"priority\": \"immediate\" | \"high\" | \"medium\" | \"low\", \"category\": \"<category>\", \"action\": \"<specific action to take>\", \"impact\": \"<why this matters for leads>\", \"difficulty\": \"easy\" | \"medium\" | \"hard\" }\n  ],\n  \"scannedAt\": \"${new Date().toISOString()}\"\n}\n\nRules:\n- Always include these 18 platforms: Google Business Profile, LinkedIn, Facebook, Instagram, X (Twitter), TikTok, YouTube, Yelp, BBB, Crunchbase, Trustpilot, Bing Places, Apple Business Connect, Substack, Medium, Zillow, Realtor.com, Personal Website\n- Set found=true only when the research explicitly mentions a confirmed profile URL for this specific person\n- Set found=false only when the research actively searched and found NO profile — not merely because it was not mentioned\n- If the research is ambiguous or the name is common, set found=false but write in notes: \"Name is common — manual verification recommended\" with a direct search link\n- Provide exactly 6 recommendations ranked by priority\n- Score: 0-39=Digital Danger Zone, 40-64=Needs Work, 65-84=Building Momentum, 85-100=Authority Status\n- Base score on: number of platforms confirmed found, profile completeness, review quality, absence of negatives, verified accounts\n- Do NOT penalize heavily for platforms that are \"unverified\" due to common name ambiguity — note this in the summary`;\n\nreturn [{ json: { input, prompt } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 4096, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.content?.[0]?.text || '';\nlet result;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI response', raw: raw.slice(0, 500) } }];\n}\nreturn [{ json: result }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook":          { "main": [[{ "node": "Build Query",      "type": "main", "index": 0 }]] },
    "Build Query":      { "main": [[{ "node": "Perplexity Search","type": "main", "index": 0 }]] },
    "Perplexity Search":{ "main": [[{ "node": "Prepare Prompt",  "type": "main", "index": 0 }]] },
    "Prepare Prompt":   { "main": [[{ "node": "Claude Analysis",  "type": "main", "index": 0 }]] },
    "Claude Analysis":  { "main": [[{ "node": "Parse Response",  "type": "main", "index": 0 }]] },
    "Parse Response":   { "main": [[{ "node": "Respond to Webhook","type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
