n8n-workflow.json
{
  "name": "PresenceIQ - Digital Presence Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "presence-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nconst name        = body.name || '';\nconst biz         = body.businessName || '';\nconst prof        = body.profession || 'professional';\nconst loc         = body.location || '';\nconst web         = body.website  ? `Their website: ${body.website}` : '';\nconst socialName  = body.socialName  || name;\nconst locNote     = loc ? `, ${loc}` : '';\n\n// Build confirmed profiles block from user-provided URLs\nconst knownProfiles = [];\nif (body.linkedinUrl)  knownProfiles.push(`LinkedIn: ${body.linkedinUrl}`);\nif (body.facebookUrl)  knownProfiles.push(`Facebook: ${body.facebookUrl}`);\nif (body.twitterUrl)   knownProfiles.push(`Twitter/X: ${body.twitterUrl}`);\nif (body.youtubeUrl)   knownProfiles.push(`YouTube: ${body.youtubeUrl}`);\nif (body.instagramUrl) knownProfiles.push(`Instagram: ${body.instagramUrl}`);\nif (body.socialHandle) knownProfiles.push(`Social handle: ${body.socialHandle}`);\nif (body.website)      knownProfiles.push(`Website: ${body.website}`);\n\nconst confirmedBlock = knownProfiles.length > 0\n  ? `\\n\\nCONFIRMED PROFILES (provided by the person — treat as verified, analyze quality):\\n${knownProfiles.join('\\n')}`\n  : '';\n\nconst query = `TASK: Conduct a comprehensive digital presence audit for a specific professional.\\n\\nWHO TO AUDIT:\\n- Name: \"${name}\" / \"${socialName}\"\\n- Profession: ${prof}${locNote}\\n- Business: \"${biz}\"\\n- ${web}${confirmedBlock}\\n\\nSEARCH TASKS:\\n\\n${knownProfiles.length > 0 ? `CONFIRMED PROFILES ABOVE: For each confirmed URL, analyze: Is the profile complete? Active? Do they have reviews or engagement? Any issues visible?\\n\\n` : ''}SEARCH FOR ADDITIONAL PLATFORMS NOT CONFIRMED ABOVE. For each, use targeted search:\\n1. LinkedIn: site:linkedin.com \"${socialName}\" \"${prof}\" OR site:linkedin.com \"${biz}\"\\n2. Facebook: site:facebook.com \"${socialName}\" OR \"${biz}\" facebook\\n3. Twitter/X: site:twitter.com \"${socialName}\" OR \"${biz}\" OR site:x.com \"${socialName}\"\\n4. YouTube: site:youtube.com \"${socialName}\" OR \"${biz}\" channel\\n5. Instagram: site:instagram.com \"${socialName}\" OR \"${biz}\"\\n6. Google Business Profile: \"${biz}\" \"${loc}\" google maps\\n7. BBB: site:bbb.org \"${biz}\" OR site:bbb.org \"${name}\"\\n8. Yelp: site:yelp.com \"${biz}\" \"${loc}\"\\n9. Zillow: \"${name}\" mortgage lender zillow\\n10. Realtor.com: \"${name}\" site:realtor.com\\n11. Crunchbase: \"${biz}\" site:crunchbase.com\\n12. Trustpilot: \"${biz}\" site:trustpilot.com\\n13. Bing Places and Apple Maps: \"${biz}\" \"${loc}\" business listing\\n14. Substack/Medium: \"${socialName}\" substack OR medium article\\n15. Personal website: \"${biz}\" official website OR \"${name}\" \"${prof}\" website\\n\\nNEGATIVE CONTENT SEARCH:\\n- \"${name}\" OR \"${biz}\" complaint OR scam OR fraud OR lawsuit OR \"bad review\" OR derogatory\\n- Reddit, Google reviews, Yelp, BBB complaints about \"${name}\" or \"${biz}\"\\n- Any defamatory posts, false claims, or derogatory content\\n\\nSIMILAR NAMES:\\n- Other professionals or businesses named \"${name}\" or \"${biz}\" that might cause confusion\\n- Impersonator accounts or copycat profiles\\n\\nProvide exact URLs for every finding. Quote negative content verbatim. Note if a platform was actively searched and genuinely not found vs simply uncertain.`;\n\nreturn [{ json: { input: body, query } }];"
      },
      "id": "build-query",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_PERPLEXITY_API_KEY" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'sonar-pro', messages: [{ role: 'user', content: $json.query }], max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "perplexity-search",
      "name": "Perplexity Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const input     = $('Build Query').first().json.input;\nconst rawSearch = $input.first().json;\nconst research  = rawSearch?.choices?.[0]?.message?.content || '';\n\nif (!research) {\n  return [{ json: { error: 'Perplexity returned no data', raw: JSON.stringify(rawSearch).slice(0, 300) } }];\n}\n\nconst socialNote = input.socialName && input.socialName !== input.name ? ` (also known as ${input.socialName} on social media)` : '';\nconst confirmedUrls = [input.linkedinUrl, input.facebookUrl, input.twitterUrl, input.youtubeUrl, input.instagramUrl, input.website].filter(Boolean);\nconst confirmedNote = confirmedUrls.length > 0 ? `\\nNOTE: The following profile URLs were CONFIRMED by the person and must be marked as found=true: ${confirmedUrls.join(', ')}` : '';\nconst prompt = `You are a digital presence analyst. Based on this web research, produce a scored audit report for ${input.name}${socialNote} (${input.businessName}, ${input.profession}).${confirmedNote}\n\nWEB RESEARCH FINDINGS:\n${research}\n\nReturn ONLY valid JSON (no markdown, no code fences, no explanation) matching this exact schema:\n{\n  \"overallScore\": <integer 0-100>,\n  \"verdict\": \"Digital Danger Zone\" | \"Needs Work\" | \"Building Momentum\" | \"Authority Status\",\n  \"summary\": \"<2-3 sentence plain-English summary of their digital presence>\",\n  \"platforms\": [\n    { \"platform\": \"<name>\", \"icon\": \"<1 emoji>\", \"found\": <boolean>, \"url\": <string or null>, \"score\": <0-100>, \"verified\": <boolean>, \"notes\": \"<short note about their presence here>\" }\n  ],\n  \"negativeContent\": [\n    { \"source\": \"<platform/site name>\", \"url\": <string or null>, \"snippet\": \"<what was said>\", \"severity\": \"low\" | \"medium\" | \"high\", \"type\": \"review\" | \"complaint\" | \"news\" | \"forum\" | \"derogatory\" | \"other\" }\n  ],\n  \"copycats\": [\n    { \"platform\": \"<name>\", \"url\": <string or null>, \"description\": \"<what was found>\", \"riskLevel\": \"low\" | \"medium\" | \"high\" }\n  ],\n  \"similarProfiles\": [\n    { \"name\": \"<full name or business>\", \"platform\": \"<where found>\", \"url\": <string or null>, \"similarity\": \"<why it shares the name>\" }\n  ],\n  \"recommendations\": [\n    { \"priority\": \"immediate\" | \"high\" | \"medium\" | \"low\", \"category\": \"<category>\", \"action\": \"<specific action to take>\", \"impact\": \"<why this matters for leads>\", \"difficulty\": \"easy\" | \"medium\" | \"hard\" }\n  ],\n  \"scannedAt\": \"${new Date().toISOString()}\"\n}\n\nRules:\n- Always include these 18 platforms: Google Business Profile, LinkedIn, Facebook, Instagram, X (Twitter), TikTok, YouTube, Yelp, BBB, Crunchbase, Trustpilot, Bing Places, Apple Business Connect, Substack, Medium, Zillow, Realtor.com, Personal Website\n- Set found=true only when the research explicitly mentions a confirmed profile URL for this specific person\n- Set found=false only when the research actively searched and found NO profile — not merely because it was not mentioned\n- If the research is ambiguous or the name is common, set found=false but write in notes: \"Name is common — manual verification recommended\" with a direct search link\n- Provide exactly 6 recommendations ranked by priority\n- Score: 0-39=Digital Danger Zone, 40-64=Needs Work, 65-84=Building Momentum, 85-100=Authority Status\n- Base score on: number of platforms confirmed found, profile completeness, review quality, absence of negatives, verified accounts\n- Do NOT penalize heavily for platforms that are \"unverified\" due to common name ambiguity — note this in the summary`;\n\nreturn [{ json: { input, prompt } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 4096, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.content?.[0]?.text || '';\nlet result;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI response', raw: raw.slice(0, 500) } }];\n}\nreturn [{ json: result }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook":          { "main": [[{ "node": "Build Query",      "type": "main", "index": 0 }]] },
    "Build Query":      { "main": [[{ "node": "Perplexity Search","type": "main", "index": 0 }]] },
    "Perplexity Search":{ "main": [[{ "node": "Prepare Prompt",  "type": "main", "index": 0 }]] },
    "Prepare Prompt":   { "main": [[{ "node": "Claude Analysis",  "type": "main", "index": 0 }]] },
    "Claude Analysis":  { "main": [[{ "node": "Parse Response",  "type": "main", "index": 0 }]] },
    "Parse Response":   { "main": [[{ "node": "Respond to Webhook","type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
